* {
    box-sizing: border-box;
}

html {
    overflow: hidden;
}
body {
    background-color: #ddd;
    font-family: arial;
}

.row {
    display: block;
}

.cell {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    max-width: 22px;
    max-height: 22px;
    border: 1px solid black;
    cursor: pointer;
}

main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titles {
    text-align: center;
}

.cell-colour {
    display: block;
    width: 100px;
    height: 100px;
}

.paint-count {
    font-weight: bold;
}